@use "../styles/base/reset";
@use "../styles/base/typography";
@use "../styles/base/globals";

html.is-modal-open,
body.is-modal-open,
html.is-menu-open,
body.is-menu-open {
  overflow: hidden !important;
  overscroll-behavior: none;
}

section {
  scroll-margin-top: 88px;
}

@media (max-width: 980px) {
  body {
    padding-top: 64px;
  }

  section {
    scroll-margin-top: 74px;
  }
}